@tailwind base;
@tailwind components;
@tailwind utilities;

.collaborators-container {
  @apply mr-2 mt-3 mb-2;
}

.share-modal-button {
  @apply ml-16 mt-6 mr-6 text-center space-x-2 p-2;
}

.collaborator-element-label {
  @apply text-sm mb-1;
}

.collaborators-display {
  background-color: #f9fbfd;
  @apply mt-3 w-full h-full border rounded-lg p-2;
}

.collaborators-list-group {
  @apply flex;
}

.collaborators-list-group-item {
  @apply pt-0 pb-0 pl-1 pr-2;
}

.collaborators-list-group-item-display {
  @apply flex items-center text-sm font-semibold gap-1;
}

.collaborator-avatar-image {
  width: 40px;
  height: auto;
}

.collaborators-list-group-item:hover .remove-collaborator-button {
  display: block;
}

.remove-collaborator-button {
  display: none;
  @apply absolute right-8 bg-red-500 text-white p-1 rounded-lg;
}

.remove-collaborator-icon {
  @apply w-4 h-4;
}

.searchbar-collaborators-container {
  @apply flex mt-3 mb-3 w-72;
}

.searchbar-display {
  @apply h-8 py-2.5 rounded-none;
}

.search-button-display {
  @apply h-8 w-8 !p-2.5 rounded-s-none;
}

.search-outline-icon {
  @apply w-5 h-5;
}

.user-search-dropdown {
  @apply w-fit;
}

.user-search-dropdown-item {
  @apply flex items-center p-0 text-sm font-semibold gap-3;
}

.user-avatar-thumbnail {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.add-collaborator-button {
  @apply p-2;
}

.add-collaborator-icon {
  @apply w-4 h-4;
}

