@tailwind base;
@tailwind components;
@tailwind utilities;

.user-profile-main-container {
  display: flex;
  height: 100vh;
}

.user-profile-content {
  flex-shrink: 1;
  overflow-y: auto;
}

.ideas-searchbar {
  position: sticky;
  margin: 100px;
  top: 1; /* Align to the top */
  background: #fff;
}

.no-ideas-yet-text {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 1rem;
  font-size: large;
}

.idea-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Space between cards */
  padding: 16px; /* Padding around the grid */
}

.idea-card {
  @apply border-2;
}

.idea-card-title {
  @apply mb-1 mt-0 text-xl font-bold tracking-tight text-gray-900 dark:text-white;
}

.idea-card-content {
  @apply mb-3 text-sm font-normal text-gray-700 dark:text-gray-400 leading-tight;
}

.idea-card-button {
  @apply w-14 h-8 mb-0;
}
