.user-profile-main-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 300px;
  flex-shrink: 0;
}

.user-profile-content {
  flex-shrink: 1;
  overflow-y: auto;
}

.ideas-searchbar {
  position: sticky;
  margin: 100px;
  top: 1; /* Align to the top */
  background: #fff;
}

.idea-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Space between cards */
  padding: 16px; /* Padding around the grid */
}

.idea-card {
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 2em;
  margin-bottom: 2em;
}
