.idea-edit-button-container {
  flex-direction: column;
  padding-left: 28rem;
}

.form-edit-button {
  grid-column: span 2;
  padding: 5px 25px;
  background-color: darkkhaki;
  color: rgb(0, 0, 0);
  border: 1em;
  border-radius: 4px;
  cursor: pointer;
}

.form-edit-button:hover {
  background-color:khaki;
}

.idea-form-container {
  flex-direction: column;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  max-width: 900px;
  margin: 15px;
}

.idea-form-elements-container {
  flex-direction: column;
}

.idea-form-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

.idea-element-label {
  color: black;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 5px;
}

.origin-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 2 columns for genres */
  gap: 10px;
}
