@tailwind base;
@tailwind components;
@tailwind utilities;

.idea-page-container {
  @apply w-full flex ml-8;
}

.idea-container {
}

.idea-title-container {
   display: flex;
    flex-direction: column;
}

.idea-title {
  @apply mb-4 mt-8; 
  font-size: 2em;
  font-weight: bold;
}

.save-idea-button{
  @apply text-base mb-2;
}

.save-container {
    display: flex;
    align-items: center; /* Aligns items vertically center */
    gap: 10px; /* Adjust the space between button and text */
}

.saving-text {
  @apply mt-3 text-sm text-gray-500;
} 

.owner {

}
.collaborators {

}

.idea-form-container {
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  max-width: 900px;
}

.idea-form-elements-container {
  flex-direction: column;
}

.idea-form-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

.idea-element-label {
  color: black;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 5px;
  padding-top: 5px;
}

.origin-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 2 columns for genres */
  gap: 10px;
}

