@tailwind base;
@tailwind components;
@tailwind utilities;

.idea-page-container {
  @apply flex ml-8;
}

.idea-title {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: bold;
}

.idea-form-container {
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  max-width: 900px;
}

.idea-form-elements-container {
  flex-direction: column;;
}

.idea-form-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

.idea-element-label {
  color: black;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 5px;
  padding-top: 5px;
}

.origin-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 2 columns for genres */
  gap: 10px;
}
