@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-container {
  background-color: #f9fbfd;
  width: 300px;
  flex-shrink: 0;
}

.sidebar-group {
  width: 200px;
  background-color: #f9fbfd;
  @apply rounded-xl p-2 w-full h-full;
}

.sidebar-user-display {
  @apply flex items-center space-x-4;
}

.sidebar-username-display {
  @apply font-mono text-sm font-semibold;
}

.sidebar-avatar-image {
  @apply w-5 h-5 ml-4;
}

.sidebar-item-icon {
  @apply w-6 h-6 ml-2;
}
