@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
  @apply flex gap-2 pb-2;
}

.dropdown {
  @apply min-w-full;
}

.dropdown-item {
  @apply flex items-center;
}

.ref-thumbnail {
  width: 40px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.ref-item {
  @apply relative;
}

.refs-display {
  @apply grid grid-cols-5 gap-4;
}

.book-ref-display {
  @apply relative pr-2 pl-2 pt-3 w-auto;
}

.ref-cover-image {
  @apply w-full hover:opacity-75;
}

.ref-item:hover .ref-details {
  display: block;
}

.ref-details {
  display: none;
  font-family: Calibri, sans-serif;
  @apply absolute bottom-0 left-0 right-0 w-auto text-xs text-black bg-white bg-opacity-75;
}

.ref-item:hover .remove-ref-button {
  display: block;
}

.remove-ref-button {
  display: none;
  font-family: Calibri, sans-serif;
  @apply absolute top-1 right-0 bg-red-500 text-sm text-white p-1 rounded-lg;
}

.remove-ref-modal-container {
  @apply text-center;

}

.modal-exclamation-icon {
  @apply w-8 h-8 mx-auto mb-4 text-gray-400 dark:text-gray-200;

}

.modal-text {
  @apply mb-5 text-base font-normal text-gray-500 dark:text-gray-400;

}