
.book-thumbnail{
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.book-display:hover .book-details {
    display: block;
}

.book-details {
    display: none;
}

