@tailwind base;
@tailwind components;
@tailwind utilities;

.index-header-style {
    padding-top: 10rem;
    padding-left: 6rem;
}

.index-description-style {
    @apply text-xl my-4;
    padding-top: 2rem;
}