/*PAGE STRUCTURE */
body, html {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.page-title {
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
}

/*FONTS */
@font-face {
  font-family: 'American Typewriter';
  src: url('./fonts/American Typewriter Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.global-font {
    font-family: 'American Typewriter', 'Courier New', 'Courier', 'monospace';
}

/* FORM STYLING */
.input-field {
    background-color:beige;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
}

.submit-button {
    padding: 3px;
    background-color:cyan;
    border-color: black;
    border-width: 1px;
}

.submit-button-container {
    padding-top: 1rem;
}