@tailwind base;
@tailwind components;
@tailwind utilities;

/*PAGE STRUCTURE */
body, html {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  @apply w-full
}

.page-layout-container {
  display: flex;
  column-count: 2;
}

.sidebar-layout-container {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
}

.page-title {
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: bold;
}

/*FONTS */
@font-face {
  font-family: 'American Typewriter';
  src: url('./fonts/American Typewriter Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.global-font {
    font-family: 'American Typewriter', 'Courier New', 'Courier', 'monospace';
}

/* FORM STYLING */
.input-field {
    background-color:beige;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
}

.submit-button {
    padding: 3px;
    background-color:cyan;
    border-color: black;
    border-width: 1px;
}

.submit-button-container {
    padding-top: 1rem;
}

/* MODALS */

.modal-exclamation-icon {
  @apply w-8 h-8 mx-auto mb-4 text-gray-400 dark:text-gray-200;
}

.modal-text {
  @apply mb-5 text-base font-normal text-gray-500 dark:text-gray-400;
}

.remove-ref-modal-container {
  @apply text-center;
}

.remove-collaborator-modal-container {
  @apply text-center;
}
